[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework-simplejwt = "*"
pyjwt = "*"
djongo = "*"
django = "*"
django-cors-headers = "*"
setuptools = "*"
djangorestframework = "*"
pillow = "*"
pymongo = "*"
pytesseract = "*"
opencv-python = "*"
pdf2image = "*"
pymupdf = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.12"
